<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    {% block head %}{% endblock head %}
</head>

<body>
    <header>
        <div class="navbar">
            <div class="container">
                <div class="navitems">
                    <div class="logo">
                        <a href="/">
                            <img src="" alt="logo">
                            <span>Flask</span>
                        </a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li>
                                <a href="/order">下单</a>
                            </li>
                            <li>
                                {% if account %}
                                <a href="/myorder">{{ account }}</a>
                                <a href="/logout">注销</a>
                                {% else %}
                                <a href="/login">登录</a>
                                <a href="/register">注册</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    {% block script %}{% endblock script %}
</body>

</html>